@using EBusinessViewModel.Entities.Account;
@model UserSignInVM

<main id="main" class="main" style="margin-top:10%;margin-bottom:5%;">

    <section class="section contact">

        <div class="row gy-4">

            <div class="col-xl-4 container">
                <div class="card p-4">
                    <form method="post">
                        <div class="row gy-4">

                            <div class="col-md-6 ">
                                <input asp-for="UserName" class="form-control" placeholder="Username" autocomplete="of" required>
                                <span asp-validation-for="UserName" style="color:red;"></span>
                            </div>

                            <div class="col-md-6 ">
                                <input asp-for="Password" class="form-control" autocomplete="of" required>
                                <span asp-validation-for="Password" style="color:red;"></span>
                            </div>

                            <div class="col-md-12">
                                <label>Remember me</label> &nbsp;
                                <input type="checkbox"/>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit">Sign in</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>

        </div>

    </section>

</main><!-- End #main -->
<!-- ======= Footer ======= -->
